header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
}
header .logo {
  cursor: pointer;
  max-width: 150px;
}
header .toggle {
  max-width: 60px;
  cursor: pointer;
}
header .logo img,
header .toggle img {
  max-width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Stranger;
}
