<main>
<audio src="./assets/audio/sonidosRaros.mp3" id="song" loop>

</audio>

<div class="banner">
  <div class="clouds">
    <img src="./assets/img/uno.png" style="--i: 1;"/>
    <img src="./assets/img/dos.png" style="--i: 2;"/>
    <img src="./assets/img/tres.png" style="--i: 3;"/>
    <img src="./assets/img/cuatro.png" style="--i: 4;"/>
    <img src="./assets/img/cinco.png" style="--i: 5;"/>
    <nav class="controlSonido">🔊</nav>
  </div>
  <ul class="mainWrapperMovil">
    <li id="historia" routerLink="/history">La historia</li>
    <li id="personajes">Personajes</li>
    <li id="noticias">Noticias</li>
    <li id="album">Album</li>
  </ul>
</div>
</main>
