
<div class="banner">
  <div class="content">
    <h2>'<span>Stranger Things</span>': Temporada 1 </h2>
    <p>
        <span> La primera temporada de la serie de Netflix 'Stranger Things' se centra en la investigación de la
          desaparición
          del joven
          Will Byers.</span>La pequeña localidad de Hawkins, Indiana, amanece una mañana conmocionada cuando Joyce
      descubre que
      su hijo
      Will no ha vuelto a casa. Pronto, el jefe de policía Jim Hopper inicia una investigación para intentar encontrar
      al
      joven, <span>mientras su madre Joyce y sus amigos llevan a cabo sendas investigaciones paralelas. </span>Los
      jóvenes se
      encuentran en
      su búsqueda con una misteriosa chica, 011, que posee poderes de telequinesis y asegura saber dónde está Will.
      <span>Todas las
          pistas conducen al laboratorio de energía que el Departamento de Estado tiene en la ciudad.</span>
    </p>
    <nav (click)="reproduce($event)" class="play"><img src="./assets/img/play.png">Ver Trailer</nav>
    <div class="slide"></div>
    <ul class="sci">
      <li id="facebook"><img src="./assets/img/facebook.png"></li>
      <li id="twitter"><img src="./assets/img/twitter.png"></li>
      <li id="github"><img src="./assets/img/github.png"></li>
    </ul>
  </div>
</div>
<div id="trailer" class="trailer">
  <video id="film" src="./assets/films/StrangerThings1.mp4" controls></video>
  <img (click)="stopFilm()" id="close" src="./assets/img/close.png" class="close">
</div>
