<app-header-temp></app-header-temp>

<div class="banner">

  <div class="content">
    <h2>'<span>Stranger Things</span>': Temporada 3</h2>
    <p>
      Después de que durante los eventos ocurridos durante <span>Halloween de 1984 en la dimensión alternativa</span>,
      esta
      temporada toma
      lugar <span>un año después</span>, justo al terminar las clases para las vacaciones de verano.
      <br> Lejos de terminar
      la amenaza
      tas
      cerrar los portales en la anterior temporada, <span> los seres del Upside Down evolucionan justo cuando el grupo
          de
          amigos está
          más distanciado que nunca.</span>
    </p>
    <nav class="play"><img src="./assets/img/play.png">Ver Trailer</nav>
    <div class="slide"></div>
    <ul class="sci">
      <li id="facebook"><img src="./assets/img/facebook.png"></li>
      <li id="twitter"><img src="./assets/img/twitter.png"></li>
      <li id="github"><img src="./assets/img/github.png"></li>
    </ul>
  </div>
</div>
<div class="trailer ">
  <video src="./assets/films/StrangerThings2.mp4" controls></video>
  <img src="./assets/img/close.png" class="close">
</div>
