<app-header-temp></app-header-temp>
<div class="banner">

  <div class="content">

    <h2>'<span>Stranger Things</span>': Temporada 2 </h2>
    <p>
      Es Halloween en Hawkins y los chicos, que ya vuelven a contar con<span> Willentre sus filas, se han disfrazado
          de
          los
          Cazafantasmas.</span>
      <br> Pero, algo le sucede a<span> Wil, el joven ve imágenes del Otro Lado, sin saber si son reales o
          no.</span><br>
      Entre tanto, Joyce busca la estabilidad para sus dos hijos saliendo con un viejo compañero de
      instituto,
      Bob . <br>Hopper, por su parte, intenta obviar los acontecimientos del año pasado,
      como la
      <span>desaparición de Barb, para proteger a Joyce y a los pequeños.</span> <br>Mientras, los hermanos<span>
          Nancy y
          Mike siguen
          de luto tras la muerte de sus amigas Barb y Once.</span><br>
      <br>
      A los personajes que ya conocimos en la primera temporada se unen ahora los hermanos <span>Billy y Max</span>
      .<br> A falta de Once, <span>Max entra a formar parte del grupo de amigos de Mike </span>y despierta el interés
      tanto de
      Lucas como de Dustin . <span>¿Nuevo trío amoroso a la vista?</span> Billy, en cambio,
      no termina
      de integrarse en Hawkins.
      <br><br>
      <span>¿Y la brecha hacia ese Otro Lado? Aún abierta</span>, como aquel laboratorio en el que experimentaban con
      cierta niña
      aficionada a los gofres y que ahora dirige el aparentemente amigable Dr. Owens.<span> A todo esto
          sumémosle una
          especie de renacuajo de otro planeta que Dustin adopta como mascota</span> y <span>a una Once desaparecida en
          combate, </span>al
      menos de
      momento… <span>Los protagonistas van a echar de menos al Demogorgon.</span>
    </p>
    <nav class="play"><img src="./assets/img/play.png">Ver Trailer</nav>
    <div class="slide"></div>
    <ul class="sci">
      <li id="facebook"><img src="./assets/img/facebook.png"></li>
      <li id="twitter"><img src="./assets/img/twitter.png"></li>
      <li id="github"><img src="./assets/img/github.png"></li>
    </ul>
  </div>
</div>
<div class="trailer ">
  <video src="./assets/trailer/StrangerThings2.mp4" controls></video>
  <img src="./assets/img/close.png" class="close">
</div>
